# Files that cannot be available publicly... #
##############################################
rmsd.py

# Python compiled files #
#########################
*.pyc

# Files that are unique to us and our dev environment? #
########################################################
/.DS_Store
/.project
/.pydevproject
dssp
/dssp.exe
/~$Ryan.docx
