# Files that cannot be available publicly... #
##############################################
rmsd.py

# Python compiled files #
#########################
*.pyc

# Files that are unique to us and our dev environment? #
########################################################
.project        # eclipse/pydev stuff
.pydevproject   # eclipse/pydev stuff
.DS_Store       # MAC stuff
dssp            # we don't want to commit a particular dssp executable