# Files that cannot be available publicly... #
##############################################
rmsd.py

# Python compiled files #
#########################
*.pyc

# Files that are unique to us and our dev environment? #
########################################################
.project
.pydevproject
